{
    "BasedOnStyle": "LLVM",
    "IndentWidth": 4,
    "AlignAfterOpenBracket": true,
    "AlignConsecutiveAssignments": true,
    //# 连续声明时，对齐所有声明的变量名
    "AlignConsecutiveDeclarations": true,
    "MaxEmptyLinesToKeep": 4,
    "BreakBeforeBraces": "Attach",
    "AllowShortIfStatementsOnASingleLine": true,
    "IndentCaseLabels": true,
    "ObjCBlockIndentWidth": 4,
    "ObjCSpaceAfterProperty": true,
    "ColumnLimit": 0,
    "AlignTrailingComments": true,
    "SpaceAfterCStyleCast": true,
    "SpacesInParentheses": false,
    "SpacesInSquareBrackets": false,
    "TabWidth": 4,
    "UseTab": "Never",
    "AllowShortBlocksOnASingleLine": true,
    "AllowShortIfStatementsOnASingleLine": true,
    "AllowShortLoopsOnASingleLine": true,
    "BraceWrapping":{
        "AfterClass":             false,
        "AfterControlStatement":  false,
        "AfterEnum":              false,
        "AfterFunction":          false,
        "AfterNamespace":         false,
        "AfterObjCDeclaration":   false,
        "AfterStruct":            false,
        "AfterUnion":             false,
        "BeforeCatch":            false,
        "BeforeElse":             false,
        "IndentBraces":           false,
        "SplitEmptyFunction":     true,
        "SplitEmptyRecord":       true,
        "SplitEmptyNamespace":    true
    },
    "Cpp11BracedListStyle": true,
    "ColumnLimit": 80,
}
